// colors
$white-smoke: #ECECEC;
$solitude: #F3F4F5;
$night-rider: #333;
$navy-blue: #0277bd;

// Sizes
$sidebar-width: 260px;

// Margins, paddings and borders
$page-content-padding: 24px;

// sections colors
$body-color: $white-smoke;
$top-navbar-color: $navy-blue;
$overlay-color: rgba($night-rider, 0.55);
